# Copia questo file in .env e compila le tue credenziali TiDB Cloud
DB_HOST=gateway01.eu-central-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=il_tuo_utente
DB_PASSWORD=la_tua_password
DB_NAME=food
DB_SSL_CA=                  # lascia vuoto se non hai il certificato CA separato
